.app-frame {
    width: 100%;
}
.form-placement-frame {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.graph-viz-frame {
    margin: auto;
    width: 100%;
    max-width: 800px;
}
.graph-viz {
    width: 100%;
    display: block;
}
.database-node {
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 2px;
}
.database-node:hover {
    fill: #a9c4f5;
    cursor: pointer;
}
.database-node:active {
    fill: lightsteelblue;
}
.test-triangle {
    transform: rotate(0deg);
}
.separator {
    stroke-width: 3;
    stroke: steelblue;
    transform: scale(1, -1);
}
.footer-frame {
    display: grid;
    grid-column: 2 / 2;
    grid-template-columns: 1fr minmax(0px, 800px) 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
}
.button-array {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}
.sharer-frame {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
.button-frame {
    position: relative;  /* Needed to position button circle. */
    display: inline;
    border-radius: 5px;
    padding:10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding-left: 45px;
    cursor: pointer;
}
.button-circle {
    position: absolute;
    left: 2px;
    top: 3px;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius:15px;
    /*box-shadow: 0 0 3px 3px rgba(216, 216, 216,0.5);*/
    border: 2px solid lightgray;
    background: white;
    color: gray;
}
.button-frame:hover {
    opacity: 0.8;
}
.button-frame:hover .button-circle {
    background: #f2f2f2;
    color: black;
    border: 2px solid black;
}
.node-circle {
    opacity: 0.9;
    cursor: pointer;
}
.node-circle:hover {
    opacity: 1;
}
.form-frame {
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 500px;
    grid-template-columns: 100px 500px 1fr 1fr 1fr;
    font-family: Roboto, sans-serif;
    border-radius: 5px;
    background: white;
    z-index: 1000;
}
.form-explainer {
    padding: 20px;
    border: 1px solid black;
    grid-column: 2 / -1;
    grid-row: 1;
    font-size: 18px;
}
.form-label-emph {
    font-weight: bold;
    font-size: 24px;
}
.form-fill-frame {
    border: 1px solid black;
    grid-column: 2 / 2;
    grid-row: 2;
    padding: 20px;
}
.form-fill-label {
    font-family: Roboto, sans-serif;
    font-size: 24px;
}
.form-textarea-body {
    resize: none;
    width: 100%;
    height: 5em;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.form-textarea-title,.form-textarea-link {
    resize: none;
    width: 100%;
    height: 1.2em;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.form-fill-button {
    height:50px;
    width: 50px;
    margin-top:20px;
    margin-left:10px;
    border-radius:25px;
    background: white;
    text-align: center;
    vertical-align: center;
    font-size:36px;
}
.form-fill-button-active {
    border: 2px solid black;
    color: black;
    cursor: pointer;
}
.form-fill-button-inactive {
    border: 2px solid lightgray;
    color: gray;
    cursor: not-allowed;
}
.form-fill-button-active:hover {
    border: 2px solid lightgray;
    background:#eee;
}
.form-fill-button-back {
    grid-column: 3 / 3;
    grid-row: 2;
}
.form-fill-button-reset {
    grid-column: 4 / 4;
    grid-row: 2;
}
.form-fill-button-submit {
    grid-column: 5 / 5;
    grid-row: 2;
}