.app-frame {
    width: 100%;
}
.graph-viz-frame {
    margin: auto;
    width: 100%;
    max-width: 800px;
}
.graph-viz {
    width: 100%;
    display: block;
}
.database-node {
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 2px;
}
.database-node:hover {
    fill: #a9c4f5;
    cursor: pointer;
}
.database-node:active {
    fill: lightsteelblue;
}
.test-triangle {
    transform: rotate(0deg);
}
.separator {
    stroke-width: 3;
    stroke: steelblue;
    transform: scale(1, -1);
}
.footer-frame {
    display: grid;
    grid-column: 2 / 2;
    grid-template-columns: 1fr minmax(0px, 800px) 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
}
.button-array {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}
.sharer-frame {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
.button-frame {
    position: relative;  /* Needed to position button circle. */
    display: inline;
    border-radius: 5px;
    padding:10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding-left: 45px;
    cursor: pointer;
}
.button-circle {
    position: absolute;
    left: 2px;
    top: 3px;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius:15px;
    /*box-shadow: 0 0 3px 3px rgba(216, 216, 216,0.5);*/
    border: 2px solid lightgray;
    background: white;
    color: gray;
}
.button-frame:hover {
    opacity: 0.8;
}
.button-frame:hover .button-circle {
    background: #f2f2f2;
    color: black;
    border: 2px solid black;
}
.node-circle {
    opacity: 0.9;
    cursor: pointer;
}
.node-circle:hover {
    opacity: 1;
}